/* Developed by Dennis Stevense for Digital Deployment */

dl.emailkit-destination-select-items {
  margin: 1em 0;
}

dl.emailkit-destination-select-items dt {
  margin: 1em 0;
}

dl.emailkit-destination-select-items dd {
  margin: 1em 0 2em 2em;
}
